*{
  margin:0;
  padding:0;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS, Arial, Verdana;
  	font-size:13px;
	background-color:#FFFFFF
	text-align: center;
	color: #002f76;
	line-height:15px;
}


a{
	text-decoration: none;
	color: #0072ff; 
}

a:hover{
	text-decoration: none;
	color: #01700c;
}

#bodyfull{
	width:100%;
}

#bodyfull2{
	width:100%;
	float:left;
}
#center{
	width:980px;
	margin:0 auto;
}

/* From Start Here */


.form_box {
    background-color: #fdfdfd;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
    display: block;
    /*margin: 20px 0 50px 180px;*/
    margin: 20px auto;
    padding: 25px;
    width: 550px;
    clear: both;
}

.form_box label {
    clear: both;
    display: inline-block;
    float: left;
    color: #333;
    font-family: TitilliumText22LBold,ArtifikaMedium,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1em;
    margin: 5px 0;
    padding: 12px 0 0 0;
    width: 145px;
}

.form_box input[type=text], input[type=password], input[type=email],input[type=tel], .form_box textarea, .form_box select {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    color: #666666;
    font-family: TitilliumText22LBold,ArtifikaMedium,Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 8px 0;
    padding: 8px;
    vertical-align: top;
    width: 350px;
}

.form_box input[type=radio]{
    margin: 8px 0;
    padding: 8px;
    vertical-align: top;
    width: 30px
}

.form_box input.submit {
    background: -moz-linear-gradient(center bottom , #0391fe 12%, #4ea0ee 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0080e5;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 16px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    width: auto;
    letter-spacing: 1px;
}

.form_box input.submit:hover {
    background: -moz-linear-gradient(center bottom , #4ea0ee 12%,#0391fe  100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #d7e3ee;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.otherinputs{
	width: 350px;
	margin: 8px 0;
	color: #333;
    font-family: TitilliumText22LBold,ArtifikaMedium,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.otherinputs span{
	 line-height: 30px;
    margin: 0 20px 0 0;
}

.inputcaptcha{
	width: 120px !important;
	float: left;
}

.imgcaptcha{
	border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 6px 10px;
    float: left;
    
}

.refresh{
	float: left;
	margin: 14px 5px;
	cursor: pointer;
}



/*     */